<h3 class="text-center"><u>Detail</u></h3>

<div class="detail-container mt-3">
  <p>
    <input type="checkbox" name="done" {{#if todo.done}}checked{{/if}} disabled>
    {{{todo.name}}}
  </p>
  <hr>

  <p style="max-width: 350px; word-break: break-all;">
    {{{todo.note}}}
  </p>


  <div class="d-flex align-self-center justify-content-end">
    <a class="btn" href="/"><i class="fas fa-angle-double-left"></i></a>
    <a class="btn" href="/todos/{{{todo.id}}}/edit"><i class="fas fa-edit"></i></a>
    <button type="button" class="btn btn-danger ml-1" data-toggle="modal" data-target="#trigger-deleteItem-{{this._id}}"
      style="margin-bottom: 18.5%"><i class="fas fa-trash"></i></button>
    {{!-- <form action="/todos/{{{todo.id}}}/delete?_method=DELETE" method="POST" style="display: inline;">
      <button type="submit">delete</button>
    </form> --}}
  </div>
</div>